@media (max-width:1600px) {
   

}
@media (max-width:1441px) {
   
  
    
}
@media (max-width:1367px) {
  
}
@media (max-width:1281px) {
    
}
@media (max-width:1200px) {
    /* Team Page */
    .tes-cont img {
        right: 42px;
        bottom: 40px;
    }
    .tes-cont > p {
        margin-bottom: 10px !important;
    }
    .team-box p {
        padding: 0px 0 0;
    }
    .flip-icon {
        bottom: 29px;
        right: 30px;
    }
    /* Team Page */
}
@media(max-width:1024px){
  
}
@media (max-width:993px) {
    /* Team Page */
    .tes-cont img {
        width: auto !important;
    }
    .flip-icon {
        bottom: 41px;
        right: 46px;
    }
    .research-area h3 {
        text-align: center;
    }
    .coomonthre-responsove-slider{
        margin: 0 !important;
    }

    /* Team Page */

    /* Home Page */
    .nav-center .nav-item a.nav-link {
        padding: 24px ​16p;
        font-size: 14px;
    }
    .coomonthre-responsove-slider .col-lg-4 {
        max-width: 100% !important;
    }    
    .nav-center .dropdown-menu a.dropdown-item {
        font-size: 11px;
    }
    /* Home Page */
}

@media  (max-width:815px) {
    /* Team Page */
    .banner-header {
        padding: 89px 0;
    }
    .flip-icon {
        bottom: 51px;
        right: 52px;
    }
    a#basic-nav-dropdown {
        border-bottom: 1px solid #ccc;
    }
    /* Team Page */

    /* Home Page */
    .nav-center .nav-item a.nav-link {
        padding: 14px 16px;
    }
    header.main-header {
        position: absolute;
        padding: 10px 0;
        width: 100%;
    }
    div#navbarSupportedContent {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 11;
    }
    .team-area {
        padding: 79px 0;
    }
    a.see-member {
        padding: 9.5px 17px;
    }
    .coomon-responsove-slider .col-lg-4 {
        padding: 0 0 24px;
    }
    .owl-carousel{
        margin: 0 !important;
    }
    .main-headings {
        padding-bottom: 15px;
    }
    .coomonone-responsove-slider img{
        width: auto !important;
    }
    .coomon-responsove-slider img {
        width: 100% !important;
    }
    .about-area {
        padding: 109px 0 72px;
    }
    /* Home Page */
    
}
@media  (max-width:768px) {
    /* Project Sub Pages */
    .pad-set:last-child {
        padding-right: 0;
        padding-left: 0;
    }
    .nav-center .nav-item.dropdown {
        border-bottom: 1px solid #ccc;
    }
    .dopdown-title {
        opacity: 1;
    }
    /* Project Sub Pages */
    /* Team Page */
   
    .team-box {
        margin-bottom: 0;
        cursor: pointer;
    }
    /* Team Page */

    /* Home */
    .navbar-right-resp{
        display: block;
    }
    .right-logo {
        display: none;
    }
    .logo {
        width: 59%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .nav-center {
        display: flex;
    }
    .nav-center li.nav-item {
        border-bottom: 1px solid #ccc;
    }
    .proj-box p br {
        display: none;
    }
    .navbar-right-resp img {
        width: 56%;
    }
    .kwp-logo-res{
        display: block;
    }
    .kwp-logo{
        display: none;
    }
    button.navbar-toggler {
        padding: 0;
        border: none;
        outline: none !important;
    }
    .nav-center li.nav-item {
        opacity: 1;
    }
    .nav-center .dropdown-menu a.dropdown-item {
        padding: 10px 37px;
    }
    .suuport-gran-item:after{
        background: transparent;
    }
    /* Home */

    
}

@media (max-width:576px) {
    .project-deve-cont::before{
        background-image: none;
    }
    /* Home Page */
    .main-headings h1 {
        text-align: center;
    }
    .projects-area::after{
        display: none;
    }
    .support-area::before {
        display: none;
    }
    h1 {
        font-size: 25px !important;
    }
    .main-headings h1 span {
        font-size: 20px;
    }
    .logo {
        width: 63%;
    }
    .navbar-right-resp img {
            width: 40%;
        }
    /* Home Page */

}
@media (max-width:414px) {
    /* Team Page */
    .tab-row p, .tab-row h6 {
        font-size: 11px;
        line-height: 17px;
    }
    .tes-cont img {
        right: 42px;
        bottom: 41px;
    }
    .flip-icon {
        bottom: 34px;
        right: 36px;
    }
    /* Team Page */
    
    /* Home Page */
    .right-logo {
        margin: 15px auto 0;
    }
    .footer-logo {
        display: flex;
        align-items: center;
    }
    .navbar-right-resp img {
        width: 44%;
    }
    .logo a {
        width: 50%;
        display: flex;
    }
    .logo {
        width: 75%;
    }
    /* Home Page */
}
@media (max-width:376px) {
    /* Team Page */
    .flip-icon {
        bottom: 31px;
        right: 32px;
    }
    
    /* Team Page */

    /* Home Page */
    .logo {
        width: 77%;
    }
    .project-deve-cont {
        padding: 38px 0 0;
        position: relative;
    }
    /* Home Page */
}
@media (max-width:360px) {
    .kwp-footer-logo img {
        width: 100%;
    }
}
@media (max-width:321px) {
    /* Team Page */
    .flip-icon {
        bottom: 25px;
        right: 26px;
    }
    /* Team Page */
}